<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/styles/listing.css" type="text/css" />
  <link rel="stylesheet" href="../styles/all-wines.css" type="text/css" />
  <link rel="stylesheet" href="../styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
  <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" type="text/css" />
  <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" type="text/css" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create New Listings</title>
</head>
<body class="main">
<header>
  <%- include('partials/_navbar') %>
</header>
<body>
    <!-- user_id, price, year, wine_name, winery, award, wine_type, description, sold_out, image_url -->
    <form action="/admin/dashboard" method="post" id="new-wine-form" enctype='multipart/form-data' class="new-wine-form">
    <div class="wrapper">
        <div class="form">
           <div class="title">
                Create Listing
           </div>
           <div class="inputfield">
              <label>Wine Name</label>
              <input type="text" class="input" name="wine_name">
           </div>

           <div class="inputfield">
            <label>Year</label>
            <input type="text" class="input" name="year" placeholder="2018">
           </div>

           <div class="inputfield">
              <label>Winery</label>
              <input type="text" class="input" name ="winery">
           </div>

           <div class="inputfield">
              <label>Award</label>
              <select class="form-select form-select-sm" name="award" aria-label=".form-select-sm example" class="form-control">
              <option selected>Select the Award</option>
              <option value="1">NWAC21 Platinum</option>
              <option value="2">NWAC21 Gold</option>
              <option value="3">NWAC21 Silver</option>
              <option value="4">No Awards Yet</option>
              </select>
           </div>

           <div class="inputfield">
            <label>Wine Type</label>
            <select class="form-select form-select-sm" name="wine_type" aria-label=".form-select-sm example" class="form-control">
              <option selected>Select the Award</option>
              <option value="1">Reds</option>
              <option value="2">Whites</option>
              </select>
         </div>

           <div class="inputfield">
             <label>Price</label>
             <input type="text" class="input" name="price" placeholder="40">
           </div>

           <div class="inputfield">
              <label>Description</label>
              <textarea class="textarea" name="description"></textarea>
           </div>

           <div class="inputfield">
              <label>image_url</label>
              <input type="file" class="input" name="wine_image_url">
           </div>

           <div class="inputfield">
            <label>winery_image_url</label>
            <input type="file" class="input" name="winery_image_url" >
         </div>

           <div class="inputfield">
            <input type="submit" value="Create" class="btn">
           </div>
        </div>
    </div>
    </form>
    </body>
<footer>
  <%- include('partials/_footer') %>
</footer>
</body>
</html>
