.main {
 background-color: #E8E9F3;
}

.favorites-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #580C1F;
  font-size: 50px;
}

.wine-listing {
  position: relative;
  display: flex;
  justify-self: center;
  background-color: white;
  height: 225px;
  left: 12.5%;
  width: 1400px;
  margin-bottom: 25px;
  border-radius: 25px;
  border: #580C1F solid 2px;
}

.price {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #A7333F;
  height: 45px;
  width: 181px;
  border-radius: 25px;
  left: 15%;
  bottom: 5%;
}

.year {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  left: 31%;
  top: 160px;
}

.label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  left: 31%;
  top: 180px;
}

.award {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  left: 31%;
  top: 200px;
}

.desc {
  position: absolute;
  display: flex;
  height: 29px;
  width: 300px;
  font-size: 25px;
  left: 31%;
  top: 5px;
}

i {
  position: absolute;
  display: flex;
  color:#A7333F;
  right: 3%;
  top: 5px;
  font-size: 35px;
}

.actual-desc {
  position: absolute;
  width: 750px;
  height: 180px;
  font-size: 17px;
  left: 31%;
  top: 40px;
}

.contact {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 181px;
  color: white;
  background-color: #A7333F;
  border: none;
  border-radius: 25px;
  bottom: 10px;
  right: 3%;
}

.image {
  position: absolute;
  height: 150px;
  top: 35px;
  left: 7%;
}

.logo {
  height: 150px;
  position: absolute;
  left: 205px;
}
